<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Simple books</title>
    <link rel="stylesheet" href="/static/simplebooksform/css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/simplebooksform/css/main.css" type="text/css" media="screen">
</head>
<body class="home">
    <section id="main-section">
        <fieldset>
            <span><legend>Welcome to SimpleBooks!</legend></span>

            {% include "menu.html" %}
        </fieldset>
    </section>
</body>
</html>